.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: rgb(42, 42, 42);
}

.structure {
  display: flex;
  flex-direction: column;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}

.timeBox {
  display: flex;
  height: 100px;
  width: 500px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 0px 0px 5px grey;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

button {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.theme {
  padding: 9px 13px;
  font-size: 16px;
  border-radius: 25px;
}